name: Container

on:
  push:
    tags:
      - '*'

env:
  IMAGE_NAME: tiddlywiki
  CONT_BUILD_TOKEN: ${{ secrets.CONT_BUILD_TOKEN }}

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build image
        run: docker build . --file Containerfile --tag $IMAGE_NAME

      - name: Log into registry
        run: echo "${{ CONT_BUILD_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push image
        run: |
          IMAGE_ID=ghcr.io/${{ github.actor }}/$IMAGE_NAME

          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION

          docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
